.notification-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: #0fa3b1;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

.notification-top-bar p {
  padding: 0;
  margin: 0;
}

.notification-top-bar p a {
  padding: 5px 10px;
  border-radius: 3px;
  background: #fff;
  color: #1abc9c;
  font-weight: bold;
  text-decoration: none;
}

.err-notification-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: #ff4242;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

.err-notification-top-bar p {
  padding: 0;
  margin: 0;
}

.err-notification-top-bar p a {
  padding: 5px 10px;
  border-radius: 3px;
  background: #fff;
  color: #1abc9c;
  font-weight: bold;
  text-decoration: none;
}

.show-notification-position {
  margin-top: 40px;
}

.blog-url {
  color: black;
  text-decoration: none;
}

.blog-like {
  display: inline;
}

.inline {
  display: inline;
}

.blog-block {
  display: block;
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.blog-style {
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.delete-button {
  background-color: #2874eb;
}

.user-grid-container {
  display: grid;
  grid-gap: 10px;
  padding-bottom: 2em;
}

.user-grid-item {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 10em 10em;
  grid-row-gap: 10px;
}

.user-name {
  grid-column: 1 / span 1;
}

.user-blog {
  grid-column: 2 / span 1;
}

.nav-menu {
  align-items: center;
  background-color: #1abc9c;
  display: flex;
  font-display: column;
  height: 1.5em;
  padding: 5px 0;
}

.nav-menu > *{
  margin-right: 10px;
}